@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 18px/1.8 'Roboto', sans-serif;
  background: #f2f2f2;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 500;
}

.groceryList {
  max-width: 500px;
  margin: 70px auto;
  background: #fff;
  border-radius: 0 0 5px 5px;
}

header {
  padding: 20px;
  background: #242e77;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
}

.item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f2f2f2;
}

.item:last-child {
  border-bottom: 0;
}

.item .itemName {
  display: flex;
  align-items: center;
}

.item .remove {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.quantity .label {
  margin:  0 10px 0 0;
}

.quantity button {
  background: #242e77;
  color: #fff;
  border: 0;
  margin: 0 5px;
  font-size: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s linear;
}

.quantity button.decrement {
  line-height: 0.1;
  font-size: 22px;
}

.quantity button:hover {
  opacity: 0.7;
}

.quantity .qty {
  margin: 0 0 0 10px;
  width: 20px;
  display: inline-block;
  text-align: center;
}